*/a.out
*.o
tmp*
*/tmp/
/hamspam/hamspam
/hamspam/trained.data
/hamspam/training
/matrix/matrix_multiply
/primes/list_of_primes.data
/stocks/curdata
/stocks/DOW/stocks
/stocks/DOW/days
/stocks/SP500/stocks
/stocks/portfolio/profiles
