*/a.out
*.o
*.swp
tmp*
/hamspam/hamspam
/hamspam/trained.data
/hamspam/training
/matrix/matrix_multiply
/primes/prime_generator
/primes/list_of_primes.data
/stocks/curdata
/stocks/DOW/stocks
/stocks/DOW/days
/stocks/SP500/stocks
/stocks/portfolio/profiles
/money/blackjack/c++/blackjack
/money/craps/craps_field_bet_simulation
/money/topdowntower/topdowntower
__pycache__*
